<div class="container-div my-backgound">
  <mat-card class="my-card">
    <logo></logo>
    <img mat-card-image src="https://storage.googleapis.com/karrlein/karrlein.com/270A0A56-1E67-4D48-A1D8-DE4947F20569.jpeg" class="my-image">
    <div>
      <hello></hello>
      <h1>ANDRÉ</h1>
      <h1>KARRLEIN</h1>
      <p style="color: grey;">I'm a solution architect at Red Bull in Salzburg, Austria.</p>
    </div>
    <div>
      <button mat-raised-button class="button" (click)="openDialog()" color="primary">
        Resume
      </button>
      <a mat-raised-button class="button" href="https://github.com/andre-karrlein" color="primary">
        Github
      </a>
			<a mat-raised-button class="button" href="https://twitter.com/rb_ak1" color="primary">
        Twitter
      </a>
			<a mat-raised-button class="button" href="https://linkedin.com/in/andré-karrlein-81879417a" color="primary">
        LinkedIn
      </a>
    </div>
  </mat-card>
</div>
<div style="height: 5%;" class="my-backgound"></div>
<div style="height: 10%; background-color: white;">
  <p class="quote"><small>"When something is important enough, you do it even if the odds are not in your favor."</small></p>
  <copyright></copyright>
</div>
