<mat-grid-list cols="3" rowHeight="100%">
  <mat-grid-tile>
    <logo></logo>
    <h1>André Karrlein</h1>
  </mat-grid-tile>
  <mat-grid-tile>
    <img mat-card-image src="https://storage.googleapis.com/karrlein/karrlein.com/me.png" class="my-image">
  </mat-grid-tile>
  <mat-grid-tile>
    <h3><small>- Introduction</small></h3>
    <p>I'm a solution architect at Red Bull in Salzburg, Austria.</p>
    <p>"When something is important enough, you do it even if the odds are not in your favor."</p>
  </mat-grid-tile>
</mat-grid-list>
